{% extends "layout.html.twig" %}

{% block content %}

    <h1 style="text-shadow: 0 0 5px #58f; color: #005">Spark</h1>
    <p>Welcome to Spark! This demo is here to help you get up and running quickly.</p>
    <h4>Learn More</h4>
    <ul>
        <li><a href="https://github.com/cbednarski/spark">Read the Spark docs to learn about extra features</a></li>
        <li><a href="http://twig.sensiolabs.org/doc/templates.html">Learn about Twig, the templating engine</a></li>
    </ul>
    <h4>Next Steps</h4>
    <p>Customize these pages to start!</p>
    <pre>
    src/layout/layout.html.twig
    src/pages/index.html.twig
    </pre>
    </div>

{% endblock %}
