{% extends "_layout.html" %}

{% block content %}

    <h1>Spark<h1>
    <p>Welcome to Spark! This demo is here to help you get up and running quickly. You can
    <a href="http://twig.sensiolabs.org/doc/templates.html">learn about Twig</a> to
    customize these pages, or start from scratch if you know what you're doing.</p>

{% endblock %}