<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Page Title{% endblock %} - My Site</title>
    <link rel="stylesheet" href="{{ assets }}/css/main.css" />
{% block css %}{% endblock %}
</head>
<body>
    <div id="wrapper">
{% block content %}
{% endblock %}
    </div>
</body>
</html>
