<!DOCTYPE html>
<html>
<head>
    <title>Spark {{ title }}</title>
    <link rel="stylesheet" href="{{ assets }}/css/main.css" />
{% block css %}{% endblock %}
</head>
<body>
    <div id="wrapper">

        <div id="main-menu">
            <h1>Spark</h1>
            {% include 'menu.html.twig' %}
        </div>

        <div id="content">
            <h1>{{ title }}</h1>
            {% block content %}{% endblock %}
        </div>

    <div style="clear:both"></div>
    </div>
</body>
</html>
