<!DOCTYPE html>
<html>
<head>
    <title>Spark {{ title }}</title>
    <link rel="stylesheet" href="{{ assets }}/css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
{% block css %}{% endblock %}
</head>
<body>
    <div id="wrapper">

        <div id="main-menu">
            <h1>Spark</h1>
            {% include 'menu.html.twig' %}
        </div>

        <div id="content">
            <h1>{{ title }}</h1>
            {% block content %}{% endblock %}
        </div>

    <div style="clear:both"></div>
    </div>
</body>
</html>
