<!DOCTYPE html>
<html>
<head>
    <title>Spark {% block title %}Documentation{% endblock %}</title>
    <link rel="stylesheet" href="{{ assets }}/css/main.css" />
{% block css %}{% endblock %}
</head>
<body>
    <div id="wrapper">
    <h1>Spark</h1>
{% block content %}
{% endblock %}
    </div>
</body>
</html>
