{% extends "layout.html.twig" %}

{% set title="Installation" %}

{% block content %}

{% markdown %}

## Installing spark.phar

The easy way to install spark is using `spark.phar`. A `.phar` file is a compiled php script that includes all of the things it needs to run in a single file.

{% endmarkdown %}

<a class="button" href="/binaries/v0.3.0/spark.phar">Download spark.phar</a>

{% markdown %}

To make it easier to run spark commands, we'll next want to move spark to be on our `path`. This means that our terminal will know how to find spark without us having to tell it the full path to the .phar file. On OSX and Linux, you can do this via:

    $ sudo mv spark.phar /usr/local/bin/spark
    $ sudo chmod +x /usr/local/bin/spark

`sudo` may not be necessary on your computer, but it shouldn't break anything either.

You can verify that spark is installed by running `spark` from your terminal. You should see the command output:

    Console Tool

    Usage:
      [options] command [arguments]

    Options:
      --help           -h Display this help message.
      --quiet          -q Do not output any message.
      --verbose        -v|vv|vvv Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug
      --version        -V Display this application version.
      --ansi              Force ANSI output.
      --no-ansi           Disable ANSI output.
      --no-interaction -n Do not ask any interactive question.

    Available commands:
      build     Build a spark project under the specified directory
      clean     Clean the build folder in this spark project
      deploy    Deploy a spark site from the target folder
      help      Displays help for a command
      init      Initialize a new spark project
      list      Lists commands
      preview   Run php's built-in web server on the target directory
      watch

## Installing from Source

In order to install Spark from source, you'll need to have the following prerequisites installed:

- [git](http://git-scm.com/downloads)
- php 5.3 or higher
- [Composer](http://getcomposer.org/)

Once the prerequisites are satisfied, clone spark and install the dependencies:

    $ git clone git@gh.riotgames.com:cbednarski/spark.git
    $ cd spark
    $ composer install

Finally, install spark in `/usr/local/bin`:

    $ sudo ln -s $PWD/bin/spark /usr/local/bin/spark

Spark should now be in your path, which means you can type `spark` at the terminal and see a list of commands.

## Building the .phar File

`spark.phar` is built using [pharcc](https://github.com/cbednarski/pharcc), which you'll need to install before you continue. Once `pharcc` is installed you can compile `spark.phar` by running `pharcc build` in the project root, on any version after `v0.3.0`. Example:

    $ pharcc build
    Building spark.phar
    Build complete.

{% endmarkdown %}
    
{% endblock %}